body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    font-family: Arial;
}

.box {
    text-align: center;
}

.check {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #4CAF50;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    margin: auto;
    animation: pop .6s ease;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}